In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('spam.csv')
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [6]:
data = data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis =1)

In [7]:
data

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will �_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
#loading stopwords and punctuation

import string
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/shivambhardwaj/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/shivambhardwaj/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [9]:
stopwords = nltk.corpus.stopwords.words('english')
punctuation = string.punctuation
print(stopwords[:5])
print(punctuation)

['i', 'me', 'my', 'myself', 'we']
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [13]:
#pre processing sms content

def pre_process(sms):
    lowercase = "".join([char.lower() for char in sms if char not in punctuation])
    tokenize = nltk.tokenize.word_tokenize(lowercase)
    remove_stopwords = [word for word in tokenize if word not in stopwords]
    return remove_stopwords

data['processed'] = data['v2'].apply(lambda x: pre_process(x))
data.head()

,v1,v2,processed
0,ham,"Go until jurong point, crazy.. Available only ...","[go, jurong, point, crazy, available, bugis, n..."
1,ham,Ok lar... Joking wif u oni...,"[ok, lar, joking, wif, u, oni]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, 2, wkly, comp, win, fa, cup, fin..."
3,ham,U dun say so early hor... U c already then say...,"[u, dun, say, early, hor, u, c, already, say]"
4,ham,"Nah I don't think he goes to usf, he lives aro...","[nah, dont, think, goes, usf, lives, around, t..."

In [14]:
#categorizing ham and spam associated words
def categorize_words():
    spam_words = []
    ham_words = []
    
    #spam words
    for sms in data['processed'][data['v1']=='spam']:
        for word in sms:
            spam_words.append(word)
    
    #ham words
    for sms in data['processed'][data['v1']=='ham']:
        for word in sms:
            ham_words.append(word)
            
    return spam_words,ham_words

spam_words,ham_words = categorize_words()

In [19]:
def predict(user_input):
    spam_counter, ham_counter = 0,0
    
    for word in user_input:
        spam_counter += spam_words.count(word)
        ham_counter += ham_words.count(word)
    
    print('********************RESULTS*************************')
    if ham_counter>spam_counter:
        acc = (ham_counter/(ham_counter+spam_counter))*100
        print('The message is not a spam: Acc = {}'.format(acc))
        
    elif ham_counter<spam_counter:
        acc = (spam_counter/(ham_counter+spam_counter))*100
        print('The message is a spam: Acc = {}'.format(acc))
    else:
        print('Cannot decide')

In [26]:
user_input = input('Please type a message:')

Please type a message:hey james, see you at class today.

In [27]:
processed_ip = pre_process(user_input)
predict(processed_ip)

********************RESULTS*************************
The message is not a spam: Acc = 90.5701754385965